{% extends 'base.html' %}
{% block title %}
all doctors
{% endblock %}

{% block body %}
<style>
        body {
        font-family: Arial, sans-serif;
        background-color: #10dac3;
        margin: 0;
        padding: 0;
        display: flex;
    }

    
    .content {
        margin-left: 25%; 
        margin-top: 5%; 
        background-color: #5784e5;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 70%; 
        }

    .doctor-card {
        border: 1px solid #dddddd;
        border-radius: 8px;
        margin-bottom: 15px;
        padding: 15px;
    }

</style>
<div class="content">
    <h1>All Doctors</h1>

    {% if doctors %}
        {% for doctor in doctors %}
            <div class="doctor-card">
                <h3>{{ doctor.title }} {{ doctor.firstname }} {{ doctor.lastname }}</h3>
                <h4>Degree: {{ doctor.degree }}</h4>
                <h4>Summary: {{ doctor.summary }}</h4>
                <a href="{% url 'doctor_detail_view' doctor_id=doctor.id %}" class="doctor-link">View Details</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No doctors available.</p>
    {% endif %}

    <p><a href="{% url 'home_view' %}">Back to Home</a></p>
</div>
{% endblock %}
