{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthify |{% block title %}
    {% endblock %}
     </title>
  <style>
      #sidebar {
        width: 20%;
        background-color: #41d7ea;
        padding: 20px;
        box-shadow: 1px 0 5px rgba(237, 8, 8, 0.1);
        position: fixed; 
        height: 100vh;
    }

  </style>
</head>
<body>

  <div id="sidebar">
    <h2>Healthify</h2>
    <ul>
        {% if request.session.role == "Doctor" %}

      <li><a href="{% url 'all_doctors_view' %}">View Other Doctors</a></li>
      <li><a href="#">View Appointment</a></li>

      {% endif %}

        {% if request.session.role == "Patient" %}

      <li><a href="{% url 'all_doctors_view' %}">View All Doctors</a></li>
      <li><a href="#">Book Appointment</a></li>

      {% endif %}

      <p></p>
      
      <a>{{ request.session.role }} {{ request.session.firstname }} {{ request.session.lastname }}</a><br>
      <a>{{ request.session.email }}</a>
      <li><a href="{% url 'update_profile_view' %}">Update Profile</a></li>
      <p></p>
      <li><a href="{% url 'logout' %}">logout</a></li>
    </ul>
  </div>

  {% block body %}
  
  
  {% endblock %}
</body>
</html>
