{% extends 'base.html' %}
{% block title %}
doctor details
{% endblock %}

{% block body %}
<style>
        body {
        font-family: Arial, sans-serif;
        background-color: #10dac3;
        margin: 0;
        padding: 0;
        display: flex;
    }

    
    .content {
        margin-left: 25%; 
        margin-top: 5%; 
        background-color: #5784e5;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 70%; 
        }

    .doctor-card {
        border: 1px solid #dddddd;
        border-radius: 8px;
        margin-bottom: 15px;
        padding: 15px;
    }

</style>
<div class="content">
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            <div class="message {% if message.tags == 'success' %} bg-green-100{% elif message.tags == 'info' %} bg-blue-100{% elif message.tags == 'warning' %} bg-yellow-100{% elif message.tags == 'error' %} bg-red-100{% else %} bg-gray-100{% endif %} border-l-4 border-solid border-green-500 text-green-700" role="alert">
                <button class="close-button" onclick="this.parentElement.style.display='none'">&#x2716;</button>
                <div class="flex justify-between items-center">
                    <p class="flex-grow">{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
    <h1>Details:</h1>

            <div class="doctor-card">
                <h3>{{ doctor.title }} {{ doctor.firstname }} {{ doctor.lastname }}</h3>
                <h3>Gender: {{ doctor.gender }}</h3>
                <h3>Degree: {{ doctor.degree }}</h3>
                <h4>Contact: {{ doctor.contact }}</h4>
                <h4>Email: {{ doctor.email }}</h4>
                <h4>Address: {{ doctor.address }}</h4>
                <h4>Summary: {{ doctor.summary }}</h4>

                {% if request.session.role == "Patient" %}

                <a href="{% url 'book_appointment_view' doctor_id=doctor.id %}" class="doctor-link">Book Appointment</a>
                
                {% endif %}
            </div>

    <p><a href="{% url 'all_doctors_view' %}">Back</a></p>
</div>
{% endblock %}
